@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-xtk5z3');
    src:url('../fonts/icomoon.eot?#iefix-xtk5z3') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-xtk5z3') format('woff'),
        url('../fonts/icomoon.ttf?-xtk5z3') format('truetype'),
        url('../fonts/icomoon.svg?-xtk5z3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #838383;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
::-webkit-scrollbar-corner {
    background: #e2e2e2;
}

* {
    box-sizing: border-box;
    font-family: Arial;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    //-webkit-overflow-scrolling: touch;
}

#container {
    width: 100%;
    height: 100%;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

#leftbar {
    width: 400px;
    height: 100%;
    position: relative;
    background-color: #e2e2e2;
    z-index: 1;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

    &.shrinkedHorizontal {
        #searchContainer, #searchField {
            padding-left: 0;
            padding-right: 0;
        }
    }

    input {
        background: linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
        border-radius: 3px;
        border: none;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
        transition: all 0.2s linear;
        font-family: "Helvetica Neue", sans-serif;
        font-size: 13px;
        color: #222222;
        position: relative;
        height: 36px;
        width: 300px;
        padding-left: 20px;

        &::-webkit-input-placeholder, &:-moz-placeholder {
            color: #999999;
        }

        &:focus{
            box-shadow: 0 1px 0 #3D7D99 inset, 0 -1px 0 #3D7D99 inset, 1px 0 0 #3D7D99 inset, -1px 0 0 #3D7D99 inset, 0 0 4px rgba(35,146,243,0.5);
            outline: none;
        }
    }

    #searchContainer {
        position: relative;
        height: 90px;
        padding: 20px 20px 20px 10px;
        border-bottom: solid 1px #AAA;
        background: #c3c8cc;

        #searchField {
            width: 95%;
            margin: 0 auto;
            display: block;
            height: 100%;
            border-radius: 5px;
            border: none;
            text-shadow: 0px 1px 0px #9CBAC5;
            font-size: 18px;
            color: #3d7d99;
            // background: #F0F0F0;
            background: #e5e5e5;
        }

        #clearQuery {
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            color: #a5abab;

            top: 22px;
            right: 7%;
            position: absolute;
            display: inline;
            padding: 15px;
            cursor: default;

            border-top-right-radius: 5px;
            border-bottom-right-radius: 6px;

            transition: color 0.15s;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            &:before {
                content: "\e600";
            }
        }

        &.filled {
            #clearQuery {
                color: #3d7d99;
                transition: color 0.15s;
                cursor: pointer;
            }
        }
    }

    #treeList {
        height: calc(100% - 90px);
        width: 100%;
        padding: 20px 10px;

        #treeContainer {
            overflow: auto;
            height: 100%;

            .child {
                position: relative;
                padding: 5px 0px 5px 10px;
                list-style-type: none;

                &:before {
                    content: '';
                    position: absolute;
                    border-left: 1px solid #999;
                    left: -20px;
                    height: 100%;
                    top: -5px;
                    width: 1px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    border-bottom: 1px solid #999;
                    left: -20px;
                    height: 1px;
                    top: 20px;
                    width: 30px;
                }
            }

            ul.root {
                padding-left: 0;
                list-style-type: none;

                > .child:first-child {
                    border: none;
                    &:before, &:after {
                        border: none;
                    }
                }
            }

            ul {
                // max-height: 1000px;
                // overflow: hidden;
                // transition: max-height 0.5s;

                // -webkit-transform: scaleY(1);
                // -o-transform: scaleY(1);
                // -ms-transform: scaleY(1);
                // transform: scaleY(1);
                &.hidden {
                    // max-height: 0;
                    // transition: max-height 0.5s;

                    display: none;

                    // -webkit-transform: scaleY(0);
                    // -o-transform: scaleY(0);
                    // -ms-transform: scaleY(0);
                    // transform: scaleY(0);

                    // -webkit-transform-origin: top;
                    // -o-transform-origin: top;
                    // -ms-transform-origin: top;
                    // transform-origin: top;

                    // -webkit-transition: -webkit-transform 0.26s ease-out;
                    // -o-transition: -o-transform 0.26s ease;
                    // -ms-transition: -ms-transform 0.26s ease;
                    // transition: transform 0.26s ease;

                }

                > .child:last-child {
                    &:before {
                        height: 27px;
                        width: 30px;
                        border-bottom: 1px solid #999;
                        border-bottom-left-radius: 6px;
                    }
                    &:after {
                        border: none;
                    }
                }
            }

            .parent {
                padding: 5px 0px 5px 30px;
            }

            .displayInfo {
                display: inline-block;
                border: 1px #898989 solid;
                width: auto;
                height: 30px;
                border-radius: 6px;
                vertical-align: middle;
                min-width: 100px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding: 5px 5px 5px 5px;
                background-color: #f0f0f0;
                line-height: 19px;
                cursor: pointer;
                vertical-align: top;

                &.highlighted {
                    background-color: #E74C3C;
                }

                &:hover {
                    background-color: #85b5c7;
                    color: #f0f0f0;

                    .icon {
                        color: #f0f0f0;
                    }
                }

                .icon {
                    display: inline-block;
                    margin-right: 5px;
                    padding: 1px 2px 3px 0px;;
                    font-family: 'icomoon';
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    color: #3d7d99;

                    /* Better Font Rendering =========== */
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;

                    &:before {
                        content: "\e601";
                    }

                    &.expandible {
                        &:before {
                            content: "\e606";
                        }

                        &.collapsed:before {
                            content: "\e605";
                        }
                    }
                }
            }
        }
    }
}

#rightbar {
    height: 100%;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    //-ms-flex: auto;
    //flex-grow: 1;
    -webkit-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#righttopbar {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    order: 1;
    -ms-flex-order: 1;

    .textNode {
        position: absolute;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        word-wrap: break-word;
        padding: 3px;
        text-align: center;
        cursor: pointer;

        &:after {
            bottom: 1px;
            left: 1px;
            height: 30%;
            width: 97%;
            position: absolute;
            content: "";
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #FFF 70%);
        }
    }
}

#rightbottombar {
    height: 200px;
    position: relative;
    background-color: #d5d5d5;
    order: 2;
    -ms-flex-order: 2;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.closeButton {
    z-index: 1;
    display: block;
    background-color: #85B5C7;
    position: absolute;
    transition: 1s;
    cursor: pointer;

    &:hover {
        background-color: #8CCDE5;
    }
}

#hideLeft {
    height: 50px;
    width: 30px;
    right: -30px;
    border-top: 1px #9f9f9f solid;
    border-right: 1px #9f9f9f solid;
    border-bottom: 1px #9f9f9f solid;
    border-left: 1px #DDDCDC solid;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    top: 40%;

    &:before, &:after {
        content: "";
        position: absolute;
        left: 30%;
        width: 40%;
        background-color: #3D7D99;
        transition: 1s;
    }

    &:before {
        top: 20%;
        height: 31%;
        -webkit-transform: skew(-30deg, 0deg);
        -moz-transform: skew(-30deg, 0deg);
        -ms-transform: skew(-30deg, 0deg);
        -o-transform: skew(-30deg, 0deg);
        transform: skew(-30deg, 0deg);
    }

    &:after {
        top: 50%;
        height: 30%;
        -webkit-transform: skew(30deg, 0deg);
        -moz-transform: skew(30deg, 0deg);
        -ms-transform: skew(30deg, 0deg);
        -o-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
    }
}

.shrinkedHorizontal {
    #hideLeft {
        &:before {
            -webkit-transform: skew(30deg, 0deg);
            -moz-transform: skew(30deg, 0deg);
            -ms-transform: skew(30deg, 0deg);
            -o-transform: skew(30deg, 0deg);
            transform: skew(30deg, 0deg);
        }

        &:after {
            -webkit-transform: skew(-30deg, 0deg);
            -moz-transform: skew(-30deg, 0deg);
            -ms-transform: skew(-30deg, 0deg);
            -o-transform: skew(-30deg, 0deg);
            transform: skew(-30deg, 0deg);
        }
    }
}

#hideBottom {
    height: 30px;
    width: 50px;
    border-top: 1px #9f9f9f solid;
    border-right: 1px #9f9f9f solid;
    border-bottom: 1px #DDDCDC solid;
    border-left: 1px #9f9f9f solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    top: -30px;
    left: 50%;

    &:before, &:after {
        content: "";
        position: absolute;
        top: 30%;
        height: 40%;
        background-color: #3D7D99;
        transition: 1s;
    }

    &:before {
        left: 20%;
        width: 31%;
        -webkit-transform: skew(0deg, 30deg);
        -moz-transform: skew(0deg, 30deg);
        -ms-transform: skew(0deg, 30deg);
        -o-transform: skew(0deg, 30deg);
        transform: skew(0deg, 30deg);
    }

    &:after {
        left: 50%;
        width: 30%;
        -webkit-transform: skew(0deg, -30deg);
        -moz-transform: skew(0deg, -30deg);
        -ms-transform: skew(0deg, -30deg);
        -o-transform: skew(0deg, -30deg);
        transform: skew(0deg, -30deg);
    }

}

.shrinkedVertical {
    #hideBottom {
        &:before {
            -webkit-transform: skew(0deg, -30deg);
            -moz-transform: skew(0deg, -30deg);
            -ms-transform: skew(0deg, -30deg);
            -o-transform: skew(0deg, -30deg);
            transform: skew(0deg, -30deg);
        }

        &:after {
            -webkit-transform: skew(0deg, 30deg);
            -moz-transform: skew(0deg, 30deg);
            -ms-transform: skew(0deg, 30deg);
            -o-transform: skew(0deg, 30deg);
            transform: skew(0deg, 30deg);
        }
    }
}

.fasttransition {
    transition: 0.5s;
}

.shrinkedHorizontal {
    width: 0 !important;
}

.shrinkedVertical {
    height: 0 !important;
}

.resizer {
    position: absolute;
    z-index: 1;
    display: block;
    background-color: #B6B6B6;
    border: 1px #EFEFEF solid;

    &.vertical {
        height: 100%;
        width: 10px;
        right: 0;
        cursor: e-resize;
    }

    &.horizontal {
        height: 10px;
        width: 100%;
        top: 0;
        cursor: n-resize;
    }
}

.shrinkedVertical, .shrinkedHorizontal {
    .resizer {
        display: none;
    }
}

#surface {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;
    background: #efefef;
    cursor: -webkit-grab;

    background: url(grid.gif);
    background-color: #efefef;
    background-color: #F7F7F7;
}

#bottomleftbar {
    width: 48%;
    height: 100%;
    display: inline-block;
    padding: 20px 10px 10px 10px;
    vertical-align: top;
    float: left;
    //max-width: 300px;
}

#bottomrightbar {
    width: 48%;
    height: 100%;
    display: inline-block;
    padding: 20px 10px 10px 10px;
    vertical-align: top;
    float: right;
    //max-width: 300px;
}

.innerContainer {
    height: 100%;
    width: 100%;
    background-color: rgb(239, 239, 239);
    padding: 10px;
    overflow: auto;

    word-spacing: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

rect#selectionRect {
    &.hidden {
        display: none;
    }
}

circle, rect:not(#selectionRect) {
    //fill: whitesmoke;
    stroke: black;
    cursor: pointer;

    &:hover {
        //fill: rgb(133, 181, 199);
    }
}

line {
    stroke: black;
    //shape-rendering: crispEdges;
}

path {
    //fill: none;
    stroke: black;
    //shape-rendering: crispEdges;
}

text {
    stroke: #000;
}
