html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#container {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    -webkit-box-orient: horizontal;

    display: -moz-box;
    -moz-box-orient: horizontal;

    display: box;
    box-orient: horizontal;
}

#leftbar {
    width: 400px;
    height: 100%;
    background-color: #e2e2e2;
}

#rightbar {
    height: 100%;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;

    display: -webkit-box;
    -webkit-box-orient: vertical;

    display: -moz-box;
    -moz-box-orient: vertical;

    display: box;
    box-orient: vertical;
}

#righttopbar {
    position: relative;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

#rightbottombar {
    height: 200px;
    background-color: #d5d5d5;
}

#hideLeft {
    height: 50px;
    width: 30px;
    border-top: 1px #9f9f9f solid;
    border-right: 1px #9f9f9f solid;
    border-bottom: 1px #9f9f9f solid;
    border-left: 1px #DDDCDC solid;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #f1f1f1;

    position: absolute;
    top: 50%;
}

#hideLeft:before {
    content: "";
    position: absolute;
    top: 20%;
    left: 30%;
    height: 31%;
    width: 40%;
    background-color: #919191;
    -webkit-transform: skew(-30deg, 0deg);
    -moz-transform: skew(-30deg, 0deg);
    -ms-transform: skew(-30deg, 0deg);
    -o-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

#hideLeft:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    height: 30%;
    width: 40%;
    background-color: #919191;
    -webkit-transform: skew(30deg, 0deg);
    -moz-transform: skew(30deg, 0deg);
    -ms-transform: skew(30deg, 0deg);
    -o-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}

#hideBottom {
    height: 30px;
    width: 50px;
    border-top: 1px #9f9f9f solid;
    border-right: 1px #9f9f9f solid;
    border-bottom: 1px #DDDCDC solid;
    border-left: 1px #9f9f9f solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #f1f1f1;

    position: absolute;
    bottom: 0;
    left: 50%;
}

#hideBottom:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 20%;
    height: 40%;
    width: 31%;
    background-color: #919191;
    -webkit-transform: skew(0deg, 30deg);
    -moz-transform: skew(0deg, 30deg);
    -ms-transform: skew(0deg, 30deg);
    -o-transform: skew(0deg, 30deg);
    transform: skew(0deg, 30deg);
}

#hideBottom:after {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    height: 40%;
    width: 30%;
    background-color: #919191;
    -webkit-transform: skew(0deg, -30deg);
    -moz-transform: skew(0deg, -30deg);
    -ms-transform: skew(0deg, -30deg);
    -o-transform: skew(0deg, -30deg);
    transform: skew(0deg, -30deg);
}

#surface {
    width: 100%;
    height: 100%;
    position: absolute;
}

circle, rect {
    fill: whitesmoke;
    stroke: black;
}

circle:hover, rect:hover {
    fill: rgb(133, 181, 199);
}

line {
    stroke: black;
}

path {
    fill: none;
    stroke: black;
}

rect {
    fill: whitesmoke;
    stroke: black;
}